<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>Sitemap for: {{ page_url }}</title>
      <h3>Sitemap for: {{ page_url }}</h3>
      <table style="width:100%">
          {% for url in static_assets %}
              <tr>
                <td><a href="{{ url }}">{{ url }}</a></td>
              </tr>
          {% endfor %}
        </table>
  </head>
</html>
